<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Guru99 Banking Suite">

    <listeners>
        <listener class-name="utilities.ExtentListener"/>
    </listeners>

    <test name="Banking Tests">

        <classes>

            <class name="testcases.LoginTest"/>

            <class name="testcases.CustomerTest"/>

            <class name="testcases.TransactionTest"/>

            <class name="testcases.TransferTest"/>

        </classes>

    </test>

</suite>